<h2 id="form_title"></h2>
<%= form_for @task, remote: true do |f| %>
 
  <div class="form-group">
    <%= f.text_field :description, placeholder: "Describe Your Task!", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.text_field :deadline, id: "datetimepicker1", placeholder: "When's It Due?", class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-success" %>
  </div>
<% end %>
